/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
font-family: "Noto Sans KR", sans-serif;

/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
font-family: "Raleway", sans-serif;

/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
font-family: "Montserrat", sans-serif;

/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* XEION CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

/* Reset CSS */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
button,
input {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal
  line-height: 1.3em;
}

/* Default CSS */
body {
  font-family: "NEXON Lv2 Gothic", sans-serif;
  font-size: 18px; 
  /* 기본 폰트 사이즈는 16 */
  line-height: 1.7em;
  margin: 0; 
  background-color: #fff;
  color: #222;
}

/* Header */
header {
  position: fixed; 
  width: 100%; 
  z-index: 10;
}
.header-inner{
  width: 1300px; 
  margin: auto; 
  overflow: hidden;
  padding-top: 30px; 
  padding-bottom: 15px;
}
.logo{
  float: left; 
}
.logo img{
  margin-top: -7px;
}
.gnb{
  float: right; 
}
.gnb a {
  margin: 10px; 
  font-size: 16px; 
}
/* Section : Welcome */
.welcome {
  height: 90vh;
  position: relative;
}
.slideshow{

}
.welcome-heading {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%);
  left: 200px; 
  text-align: center;
  width: 750px;
}
.welcome-heading span {
  font-size: 24px
}
.welcome-heading h1{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 30px;
  margin-top: 15px;
}
.welcome-heading h1 em{
  display: block;
  font-style: normal;
  color: tomato;
}
.welcome-heading p{
  padding: 0 100px; 
  margin-bottom: 50px; 
}
.welcome-btns .btn {
  display: inline-block; 
  width: 160px; 
  padding: 8px;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
.btn.start{
  background-color: rgb(55, 121, 99);
}
.btn.guide{
  background-color: #fff;
  color: #222;
}

/* Section : CEO Access */
.ceo-access {
  padding-bottom: 0;
}
.ceo-inner,
.access-inner {
  width: 1300px;
  margin: auto;
}
.ceo-content {
display: flex;
justify-content: center;
align-items: center;
  border-bottom: 1px solid #eee;
  padding: 50px 0;
}
.ceo-content > div {
  float: left;
  width: 50%;
}
.ceo-left {
  padding-right: 50px;
}
.ceo-left img {
  width: 30px;
  filter: invert(57%) sepia(52%) saturate(608%) hue-rotate(93deg) brightness(87%) contrast(89%);
}
.ceo-left h3 {
  font-weight: bold;
  font-size: 24px;
}
.ceo-right {
  text-align: center;
  display: flex;
}
.ceo-right > div {
  float: left;
  padding: 20px;
}
.ceo-msg {
  width: 60%;
}
.ceo-msg h3 {
  font-size: 28px;
  color: #009b72;
}
.ceo-msg h3 big {
  display: block;
}
.ceo-photo {
  width: 40%;
}
.ceo-photo img {
  border-radius: 15px;
  width: 100%;
}
.access-content {
  padding: 50px 0;
  padding-bottom: 0;
  display: flex;
}
.access-content > div {

  width: 50%;
}
.access-left {
  padding-right: 50px;
  padding-top: 50px;
}
.access-left h2 {
  font-size: 34px;
  line-height: 1.2em;
}
.access-right {
  text-align: center;
}
.access-right img {
  display: block;
  float: right;
}
.btn-download {
  margin-top: 30px;
}

/* 마우스 휠 */
.mouse {
  border: 2px solid #000; 
  position: absolute; 
  width: 32px; 
  height: 45px; 
  border-radius: 30px;
  bottom: 100px; 
  left: 250px; 

}
.wheel {
  position: absolute;
  width: 4px; 
  height: 15px; 
  background: #000; 
  border-radius: 4px; 
  left: 12px; 
  top: 10px;
  animation: wheels 1s linear infinite;
}
@keyframes wheels {
  0%{
    top: 10px; 
  }
  50%{
    top: 20px; 
  }
  100%{
    top: 10px;
  }
}

/* Slick Custom CSS */
.slideshow .slick-arrow {
  border: 1px solid #000; 
  display: none !important; 
}
.slideshow * {
  outline: none; 
}