/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap");
font-family: "Noto Sans KR", sans-serif;

/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
font-family: "Raleway", sans-serif;

/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");
font-family: "Montserrat", sans-serif;

/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* XEION CDN */
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

/* Reset CSS */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
button,
input {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal
  line-height: 1.3em;
}

/* Default CSS */
body {
  font-family: "NEXON Lv2 Gothic", sans-serif;
  font-size: 18px; 
  /* 기본 폰트 사이즈는 16 */
  line-height: 1.7em;
  margin: 0; 
  background-color: #fff;
  color: #222;
}

/* Common CSS */
.headline-share {
  text-align: center;
  margin-top: 80px; 
}
.headline-share h1 {
  font-size: 44px;
  position: relative;
  padding-bottom: 30px;
}
.headline-share h1:after{
  position: absolute; 
  content: ""; 
  height: 8px;
  width: 120px;
  background: linear-gradient(to right, #7EE8FA, #EEC0C6);
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%);

}
.headline-share p {
  font-size: 20px;
}


/* Header */
header {
  position: fixed; 
  width: 100%; 
  z-index: 10;
}
.header-inner{
  width: 1300px; 
  margin: auto; 
  overflow: hidden;
  padding-top: 30px; 
  padding-bottom: 15px;
}
.logo{
  float: left; 
}
.logo img{
  margin-top: -7px;
}
.gnb{
  float: right; 
}
.gnb a {
  margin: 10px; 
  font-size: 16px; 
}
/* Section : Welcome */
.welcome {
  height: 90vh;
  position: relative;
}
.slideshow{

}
.welcome-heading {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%);
  left: 200px; 
  text-align: center;
  width: 750px;
}
.welcome-heading span {
  font-size: 24px
}
.welcome-heading h1{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 30px;
  margin-top: 15px;
}
.welcome-heading h1 em{
  display: block;
  font-style: normal;
  color: tomato;
}
.welcome-heading p{
  padding: 0 100px; 
  margin-bottom: 50px; 
}
.welcome-btns .btn {
  display: inline-block; 
  width: 160px; 
  padding: 8px;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}
.btn.start{
  background-color: rgb(55, 121, 99);
}
.btn.guide{
  background-color: #fff;
  color: #222;
}

/* Section : CEO Access */
.ceo-access {
  padding-bottom: 0;
}
.ceo-inner,
.access-inner {
  width: 1300px;
  margin: auto;
}
.ceo-content {
display: flex;
justify-content: center;
align-items: center;
  border-bottom: 1px solid #eee;
  padding: 50px 0;
}
.ceo-content > div {
  float: left;
  width: 50%;
}
.ceo-left {
  padding-right: 50px;
}
.ceo-left img {
  width: 30px;
  filter: invert(57%) sepia(52%) saturate(608%) hue-rotate(93deg) brightness(87%) contrast(89%);
}
.ceo-left h3 {
  font-weight: bold;
  font-size: 24px;
}
.ceo-right {
  text-align: center;
  display: flex;
}
.ceo-right > div {
  float: left;
  padding: 20px;
}
.ceo-msg {
  width: 60%;
}
.ceo-msg h3 {
  font-size: 28px;
  color: #009b72;
}
.ceo-msg h3 big {
  display: block;
}
.ceo-photo {
  width: 40%;
}
.ceo-photo img {
  border-radius: 15px;
  width: 100%;
}
.access-content {
  padding: 50px 0;
  padding-bottom: 0;
  display: flex;
}
.access-content > div {

  width: 50%;
}
.access-left {
  padding-right: 50px;
  padding-top: 50px;
}
.access-left h2 {
  font-size: 34px;
  line-height: 1.2em;
}
.access-right {
  text-align: center;
}
.access-right img {
  display: block;
  float: right;
}
.btn-download {
  margin-top: 30px;
}


/* Section : Banner */

.banner {
  /* background: linear-gradient(to right, #69acfe, #6eaefd); */
  background: url(images/wave-line.png) no-repeat center right 100px, linear-gradient(to right, #69acfe, #6eaefd);
  background-size: 80px;
  padding: 0;
}
.banner-inner {
  width: 1300px;
  margin: auto;
}
.banner-content {
  overflow: hidden;
  padding: 40px 0;
}
.banner-content > div {
  float: left;
  width: 50%;
}
input[name=tabmenu] {
  display: none;
}
.tab-btn {}
.tab-btn label {
  width: 30%;
  display: inline-block;
  text-align: center;
  color: #fff;
  margin: 5px;
  cursor: pointer;
}
.tab-btn label em {
  background-color: #fff;
  display: inline-block;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
}
.tab-btn label em img {
  width: 60px;
  filter: invert(63%) sepia(63%) saturate(2002%) hue-rotate(187deg) brightness(98%) contrast(106%);
}
.tab-btn label span {
  display: block;
  margin-top: 10px;
}
.tab {
  display: none;
  color: #fff;
  padding-top: 20px;
  padding-left: 50px;
}
.tab h2 {
  font-size: 32px;
  font-weight: bold;
}

/* Section : Vision */
.vision {}
.vision-inner {}
.vision-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}
.vision-content > div {

}
.vision-item-desc {
  background: #fff;
  display: flex; 
  justify-content: center;
  align-items: center ;
}
.vision-item-desc h3 {
  font-size: 28px;
  margin-bottom: 0; wd
}
.vision-item-desc hr{
  width: 45px; 
  height: 3px; 
  border: none;
  background-color: plum;
  display: inline-block; 
}
.vision-item-desc p {}
.vision-item-photo {}
.vision-item-photo img {
  width: 100%; 
  height: inherit; 
  object-fit: cover;

}
.vision-item-headline{
  width: 60%; 

}



/* Checked Function */
input[id=tab1]:checked ~ .tabs .tab1,
input[id=tab2]:checked ~ .tabs .tab2,
input[id=tab3]:checked ~ .tabs .tab3 {
  display: block;
  color: #34495e;
}
input[id=tab1]:checked ~ .tab-btn label[for=tab1] em,
input[id=tab2]:checked ~ .tab-btn label[for=tab2] em,
input[id=tab3]:checked ~ .tab-btn label[for=tab3] em {
  background-color: #34495e;
}
input[id=tab1]:checked ~ .tab-btn label[for=tab1] em img,
input[id=tab2]:checked ~ .tab-btn label[for=tab2] em img,
input[id=tab3]:checked ~ .tab-btn label[for=tab3] em img {
  filter: invert()
}
input[id=tab1]:checked ~ .tab-btn label[for=tab1] span,
input[id=tab2]:checked ~ .tab-btn label[for=tab2] span,
input[id=tab3]:checked ~ .tab-btn label[for=tab3] span {
  color: #34495e;
  
}

/* Section: feature */
.feature{}
.feature-inner{
  width: 1300px; 
  margin: auto;
}
.feature-content{
  overflow: hidden;
  margin: 150px 0;
}
.feature-content > div {
  float: left; 
  width: 50%; 
  text-align: center;
}
.feature-mockup {}
.feature-about h2 {
  font-size: 30px;
  padding: 70px; 
}
.feature-about {}

/* Section : FAQ */

.faq {
  width: 1300px; 
  margin: auto; 
}
.faq-content {
  display: flex; 
  justify-content: space-between;
}
.faq-content > div {
  
  width: 50%; 
  padding: 25px; 
}
.faq-accordion {

}
.faq-item {
  border: 1px solid #ddd ;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px; 
}
.faq-item.active {
  border: 1px solid lightblue;
}


.faq-item > div {
  
}

.faq-title {
  color: rgb(19, 82, 121); 
  cursor: pointer;
}
.faq-title:after{
  content: "\f105"; 
  font-family: fontawesome;
  float: right; 
  color:#444; 
  transition: 0.35s;
}

.faq-item.active .faq-title:after{
  color: lightblue;
  transform: rotate(90deg);
}

.faq-desc{
  display: none;
}

.awards-content {
  text-align: center;
}
.award-image {
  position: relative
}
.award-image:after{
  content: "December 19, 2022"; 
  position: absolute; 
  background-color: #000;
  width: 185px; 
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  bottom: 5px; 
  left: 50%; 
  transform: translateX(-50%);
}

.awards-content h2{
  font-size: 36px;
  color: goldenrod;
}
.awards-content p{
  margin-bottom: 40px;
}
.btn-awards {
  border: 1px solid #000; 
  padding: 1px 20px; 
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.35s;
}
.btn-awards:hover{
  color: #fff;
  background: crimson;
  border-color: transparent;
}






/* 마우스 휠 */
.mouse {
  border: 2px solid #000; 
  position: absolute; 
  width: 32px; 
  height: 45px; 
  border-radius: 30px;
  bottom: 100px; 
  left: 250px; 

}
.wheel {
  position: absolute;
  width: 4px; 
  height: 15px; 
  background: #000; 
  border-radius: 4px; 
  left: 12px; 
  top: 10px;
  animation: wheels 1s linear infinite;
}
@keyframes wheels {
  0%{
    top: 10px; 
  }
  50%{
    top: 20px; 
  }
  100%{
    top: 10px;
  }
}

/* Slick Custom CSS */
.slideshow .slick-arrow {
  border: 1px solid #000; 
  display: none !important; 
}
.slideshow * {
  outline: none; 
}